{% extends "tmp.html" %}
{% block content %}
            <div class="page-header clearfix">
                <h1>{{ title }}</h1>
                <div class="btn-group btn-actions">
                    <a href="{{ prefix }}/page/{{ title }}/modify" class="btn btn-info">
                        <i class="fa fa-pencil"></i>Edit
                    </a>
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        <span class="caret">
                        </span>
                        <span class="sr-only">
                            Toggle Dropdown
                        </span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{{ prefix }}/page/{{ title }}/revisions">
                                <i class="fa fa-history">
                                </i>
                                Revision
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 col-sm-8">
                    <div class="contents">
                        {% if revision > 0 %}
                        <article>
                            {{ html|safe }}
                        </article>
                        {% else %}
                            <div class="page-not-found">
                                <h3>This page is not created.</h3>
                                <p><a href="{{ prefix }}/page/{{ title }}/modify" class="btn btn-info btn-lg">Create now</a></p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
{% endblock %}